# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [1]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [2]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18

### Column Selection:

In [12]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [2]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [4]:
# CREATING A CSV FILE
import pandas as pd

# Creating a dictionary with employee data
data = {
    'Name': ['John', 'Emma', 'Ryan', 'Emily'],
    'Age': [30, 25, 35, 28],
    'Department': ['HR', 'IT', 'Finance', 'Marketing'],
    'Salary': [50000, 60000, 70000, 55000],
    'Experience': [5, 3, 8, 4] }
# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Writing DataFrame to a CSV file named employee_records.csv
df.to_csv('employee_records.csv', index=False)

print ("done")

done

In [6]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

# print excel
data

    Name  Age Department  Salary  Experience
0   John   30         HR   50000           5
1   Emma   25         IT   60000           3
2   Ryan   35    Finance   70000           8
3  Emily   28  Marketing   55000           4

### Select first row from file

In [7]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df = data.iloc[0]

# print excel
df

Name           John
Age              30
Department       HR
Salary        50000
Experience        5
Name: 0, dtype: object

### Selecting Row with Title Header

In [5]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("GIG-logistics.csv")

df = data.head(1)

# print excel
df

   Name  Age Department  Salary  Experience
0  John   30         HR   50000           5

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [6]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [7]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(dict)
 
for i in columns:
 
    # printing the third element of the column
    print (dict[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [11]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('record.csv')

print("Done")

Done

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [50]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = data.head(7)

# print excel
df

,S/N,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False
1,2,YouTube,com.google.android.youtube,Video Players & Editors,Google LLC,https://support.google.com/youtube/topic/24225...,ytandroid-support@google.com,Teen,True,False
2,3,Google,com.google.android.googlequicksearchbox,Tools,Google LLC,https://www.google.com/search/about/,apps-help@google.com,Everyone,True,False
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps,Travel & Local,Google LLC,http://maps.google.com/about/,apps-help@google.com,Everyone,True,False
4,5,Google Text-to-Speech,com.google.android.tts,Tools,Google LLC,http://www.google.com/,tts-feedback@google.com,Everyone,False,False
5,6,Google Chrome: Fast & Secure,com.android.chrome,Communication,Google LLC,http://www.google.com/chrome/android,apps-help@google.com,Everyone,False,False
6,7,Gmail,com.google.android.gm,Communication,Google LLC,http://support.google.com/mail/bin/topic.py?hl...,apps-help@google.com,Everyone,True,False

In [70]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

# select three columns
data[['S/N', 'App Name', 'App Id']]

,S/N,App Name,App Id
0,1,Google Play services,com.google.android.gms
1,2,YouTube,com.google.android.youtube
2,3,Google,com.google.android.googlequicksearchbox
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps
4,5,Google Text-to-Speech,com.google.android.tts
...,...,...,...
65,66,Clock,com.google.android.deskclock
66,67,Spotify: Listen to podcasts & find music you love,com.spotify.music
67,68,Google Translate,com.google.android.apps.translate
68,69,Samsung Notes,com.samsung.android.app.notes
69,70,Calculator,com.google.android.calculator

In [72]:
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = data.head(1)

# print excel
df

,S/N,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [79]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Programming-Languages-Trends.csv")

df = data.head(7)

# print excel
df

        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17
3  5/12/2019      56    61   18
4  5/19/2019      57    56   17
5  5/26/2019      55    57   17
6   6/2/2019      54    58   15

In [81]:
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Programming-Languages-Trends.csv")

df = data.head(1)

# print excel
df

        Week  Python  Java  C++
0  4/21/2019      55    55   18

In [80]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Programming-Languages-Trends.csv")

# select three columns
data[['Week', 'Python', 'Java']]

          Week  Python  Java
0    4/21/2019      55    55
1    4/28/2019      52    50
2     5/5/2019      56    56
3    5/12/2019      56    61
4    5/19/2019      57    56
..         ...     ...   ...
257  3/24/2024      79    47
258  3/31/2024      81    51
259   4/7/2024      77    45
260  4/14/2024      78    48
261  4/21/2024      71    42

[262 rows x 3 columns]

In [49]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("BTC_DATA_V3.csv")

df = data.head(7)

# print excel
df

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%

In [82]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("BTC_DATA_V3.csv")

df = data.head(1)

# print excel
df

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%

In [12]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("BTC_DATA_V3.csv")

# select three columns
data[['Price', 'Open', 'High']]

FileNotFoundError: [Errno 2] No such file or directory: 'BTC_DATA_V3.csv'

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [93]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
cadbury_market = {'Product Category': ['Intermediate Cocoa Products', 'Intermediate Cocoa Products', 'Intermediate Cocoa Products',
                         'Intermediate Cocoa Products', 'Refreshment Beverages', 'Refreshment Beverages',
                         'Confectionery', 'Confectionery', 'Confectionery'],
    'Segment': ['Cocoa Products', 'Cocoa Products', 'Cocoa Products', 'Cocoa Products',
                'Beverages', 'Beverages', 'Confectionery', 'Confectionery', 'Confectionery'],
    'Brand': ['Cocoa Powder', 'Cocoa Butter', 'Cocoa Liquor', 'Cocoa Cake',
              'Bournvita', 'Hot Chocolate', 'Tom Tom Classic', 'Tom Tom Strawberry', 'Buttermint'],
    'Export': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes']}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(cadbury_market)

# saving the dataframe
df.to_csv('cadbury_market.csv')

print("Done")

Done